<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>FOOD STORE</title>
    
    <script src="https://kit.fontawesome.com/80a2be1de2.js" crossorigin="anonymous"></script>
    
    <link href="css/common.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    
</head>

<body>
    <header>
        <a href="#">
            <h5>지금 가입하고 인기상품 <span>1000point</span> 받아가세요!</h5>
        </a>
        <div id="login">
            <ul>
                <li><a href="#">회원가입</a></li>
                <li>|</li>
                <li><a href="#">로그인</a></li>
                <li>|</li>
                <li><a href="#">고객센터</a></li>
                <li>|</li>
                <li><a href="#">배송지역 검색</a></li>
            </ul>
        </div>
        
        <div id="top">
            <a href="#"><img src="img/logo.jpg" alt="logo"></a>
            
            <div class="search">
                <input name="search" placeholder="한 스푼 샐러드">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            
            <nav>
                <ul>
                    <li><a href="sub.html" target="_self">전체 카테고리</a></li>
                    <li><a href="sub.html" target="_self">BEST</a></li>
                    <li><a href="sub.html" target="_self">HOT DEAL</a></li>
                    <li><a href="sub.html" target="_self">신상품</a></li>
                    <li><a href="sub.html" target="_self">간편식</a></li>
                    <li><a href="sub.html" target="_self">식단플랜</a></li>
                    <li><a href="sub.html" target="_self">EVENT</a></li>
                </ul>
            </nav>
        </div>
    </header>
        
    <div id="slider" style="background-image: url(img/slider.jpg);">
        <h1><span style="font-weight:100; color:black">과식 후엔 필수!</span><br>가벼운 식단으로 리셋~</h1>
        <h3>더 가벼운 리셋 도시락<br>
        <button>21% 할인</button></h3>
    </div>
        
    <section>
        <div id="point">
            <h1>Good <span>Point</span></h1>
            <p>고객님들의 특별한 쇼핑을 위한 푸드스토어의 작은 팁</p>
            
            <div class="pointbox">
                <a href="#"><i class="far fa-address-book"></i></a>
                <p style="font-size:11pt;">회원 가입시<br>
                <span style="color:#4b0082; font-size: 13pt; font-weight:bold;">3000Point 적립</span></p>
            </div>
            
            <div class="pointbox">
                <a href="#"><i class="fas fa-file-signature"></i></a>
                <p style="font-size:11pt;">포토, 텍스트<br>
                <span style="color:#4b0082; font-size: 13pt; font-weight:bold;">후기작성 혜택</span> </p>
            </div>
            
            <div class="pointbox">
                <a href="#"><i class="fas fa-truck"></i></a>
                <p style="font-size:11pt;">당일발송 시스템<br>
                <span style="color:#4b0082; font-size: 13pt; font-weight:bold;">뚝딱배송</span></p>
            </div>
            
            <div class="pointbox">
                <a href="#"><i class="fas fa-phone-volume"></i></a>
                <p style="font-size:11pt;">도매 상담·문의<br>
                <span style="color:#4b0082; font-size: 13pt; font-weight:bold;">070.777.7777</span></p>              
            </div>
        </div>
           
        <div id="deal">
            <h1>Weekly <span>Hot Deal</span></h1>
            <p>푸드스토어의 주간 핫 딜</p>
            
            <div class="imgbox">
                <a href="#"><img src="img/hot_deal1.jpg" alt="hot1"></a>
                <div class="textbox1">
                    <span>새우 아보카도 샐러드<br>
                    <del style="font-size:9pt; font-weight:100;">30,000won</del><br>
                    21,900won</span>
                </div>
            </div>
                
            <div class="imgbox2">
                <img src="img/hot_deal2.jpg" alt="hot2">
                <div class="textbox2">
                    <span>치킨까스 덮밥<br>
                    <del style="font-size:9pt; font-weight:100;">60,000won</del><br>
                    39,800won</span>
                </div>
            </div>
                
            <div class="imgbox2">
                <img src="img/hot_deal3.jpg" alt="hot3">
                <div class="textbox2">
                    <span>곤약 면 크림파스타<br>
                    <del style="font-size:9pt; font-weight:100;">30,000won</del><br>
                    21,900won</span>
                </div>
            </div>                 
            <div class="imgbox2">
                <img src="img/hot_deal4.jpg" alt="hot4">
                <div class="textbox2">
                    <span>저칼로리 곤약 떡볶이<br>
                    <del style="font-size:9pt; font-weight:100;">15,000won</del><br>
                    11,200won</span>
                </div>
            </div>                 
            <div class="imgbox2">
                <img src="img/hot_deal5.jpg" alt="hot5">
                <div class="textbox2">
                    <span>흰강낭콩 두유습관<br>
                    <del style="font-size:9pt; font-weight:100;">20,000won</del><br>
                    14,900won</span>
                </div>
            </div> 
            
            <div class="box2">
                <a href="#"><img src="img/hot_deal7.jpg" alt="hot7"></a>
                <div class="info">
                    <h3>천연발효 통밀 빵&ensp;
                    <span style="background-color:rebeccapurple; border-radius:100px; padding:2px 6px; font-size:13px;">예약배송</span><br>
                    <span>화, 수, 금 출고</span></h3>            
                </div>
            </div>
            
            <div class="box2">
                <a href="#"><img src="img/hot_deal6.jpg" alt="hot6"></a>
                <div class="info">
                    <h3>찐~한 그릭 요거트&ensp;
                    <span style="background-color:rebeccapurple; border-radius:100px; padding:2px 6px; font-size:13px;">예약배송</span><br>
                    <span>월, 수, 금 출고</span></h3>            
                </div>
            </div>
            
            <div class="box2">
                <a href="#"><img src="img/hot_deal8.jpg" alt="hot8"></a>
                <div class="info">
                    <h3>한 스푼 샐러드&ensp;
                    <span style="background-color:#4b0082; border-radius:100px; padding:2px 6px; font-size:13px;">정기배송</span><br>
                    <span>첫 주문 4주 무료배송</span>
                    </h3>
                </div>
            </div>
        </div>
        
        <div id="banner1">
            <div class="banner_text">
                <h2><a href="#">푸드스토어 회원가입 즉시 사용가능한 적립금<br>
                <span style="font-size:30px; font-weight:1000;">2000Point 지급</span></a></h2>
                <h5><a href="#">다른 푸짐한 회원 혜택을 만나보세요&ensp;<i class="fas fa-chevron-right"></i></a></h5>
            </div>
        </div>
        
        <div id="choice1">
            <h1>Easy <span>Choice</span></h1>
            <p>푸드스토어가 추천하는 인기상품</p>

            <div class="best1">
                <a href="#"><img src="img/best_1_1.jpg" alt="salad"></a>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-1.jpg" alt="best1-1"></a>
                </div>
                <h5>한스푼 샐러드 도시락 6종</h5>
                <p><span class="off">55%</span>&ensp;<del>24,100won</del></p>
                <h3>23,800won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-2.jpg" alt="best1-2"></a>
                </div>
                <h5>완벽한 한끼 식단</h5>
                <p><span class="off">19%</span>&ensp;<del>26,500won</del></p>
                <h3>21,500won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-3.jpg" alt="best1-3"></a>
                </div>
                <h5>가벼운 리셋 도시락</h5>
                <p><span class="off">13%</span>&ensp;<del>20,000won</del></p>
                <h3>17,500won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-4.jpg" alt="best1-4"></a>
                </div>
                <h5>4week 샐러드 정기배송</h5>
                <p><span class="off">7%</span>&ensp;<del>96,400won</del></p>
                <h3>89,200won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-5.jpg" alt="best1-5"></a>
                </div>
                <h5>가슴이 콩닭 닭가슴살</h5>
                <p><span class="off">30%</span>&ensp;<del>2,700won</del></p>
                <h3>1,900won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-6.jpg" alt="best1-6"></a>
                </div>
                <h5>든든한 한끼! 오늘은 현미밥</h5>
                <p><span class="off">10%</span>&ensp;<del>9,500won</del></p>
                <h3>8,550won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-7.jpg" alt="best1-7"></a>
                </div>
                <h5>맛있는 Dite 소고기볼</h5>
                <p><span class="off">9%</span>&ensp;<del>3,300won</del></p>
                <h3>3,000won</h3>
            </div>

            <div class="best2">
                <div class="best2_box">
                    <a href="#"><img src="img/best1-8.jpg" alt="best1-8"></a>
                </div>
                <h5>닭가슴살 전제품 맛보기</h5>
                <p><span class="off">22%</span>&ensp;<del>28,700won</del></p>
                <h3>22,500won</h3>
            </div>
        </div>

        <div id="choice2">
            <div class="best3">
                <a href="#"><img src="img/best_2_1.jpg" alt="fastfood"></a>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-1.jpg" alt="best2-1"></a>
                </div>
                <h5>칼로리 DOWN! 곤약이 면</h5>
                <p><span class="off">28%</span>&ensp;<del>4,000won</del></p>
                <h3>2,900won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-2.jpg" alt="best2-2"></a>
                </div>
                <h5>곤약 현미 떡볶이</h5>
                <p><br></p>
                <h3>3,200won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-3.jpg" alt="best2-3"></a>
                </div>
                <h5>천연발효 통밀 브래드</h5>
                <p><br></p>
                <h3>2,500won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-4.jpg" alt="best2-4"></a>
                </div>
                <h5>통밀 두부 티라미수</h5>
                <p><span class="off">10%</span>&ensp;<del>35,500won</del></p>
                <h3>3,150won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-5.jpg" alt="best2-5"></a>
                </div>
                <h5>곤약 잡곡밥 '밥이 곤약'</h5>
                <p><span class="off">43%</span>&ensp;<del>3,500won</del></p>
                <h3>2,000won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-6.jpg" alt="best2-6"></a>
                </div>
                <h5>설탕 제로 초코</h5>
                <p><br></p>
                <h3>6,500won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-7.jpg" alt="best2-7"></a>
                </div>
                <h5>통밀 곤약 라면</h5>
                <p><br></p>
                <h3>2,500won</h3>
            </div>

            <div class="best4">
                <div class="best4_box">
                    <a href="#"><img src="img/best2-8.jpg" alt="best2-8"></a>
                </div>
                <h5>곤약 현미 떡 4종</h5>
                <p><span class="off">17%</span>&ensp;<del>9,000won</del></p>
                <h3>7,500won</h3>
            </div>
        </div>
           
        <div id="banner2">
            <div class="tip">
                <img src="img/eco_banner.jpg" alt="tip">
                <div class="tiptext">
                    <h3><a href="#">전국 방방곡곡 신선배송<br>
                    <span style="font-size:16px; font-weight:500;">더 알아보기 ▶</span></a></h3>
                </div>
            </div>
            <div class="eco">
                <img src="img/tip_banner.jpg" alt="eco">
                <div class="ecotext">
                    <h3><a href="#">함께하면 더 싸시는 정기배송<br>
                    <span style="font-size:16px; font-weight:500;">더 알아보기 ▶</span></a></h3>
                </div>
            </div>
        </div>
            
        <div id="plan">
            <h1><span>Diet</span> Plan</h1>
            <p>고민없이 이대로만 드세요</p>

            <div id="wrap">
                <div class="dite">
                    <div class="dbox">
                        <a href="#"><img src="img/1week_start.jpg" alt="plan1"></a>
                    </div>
                    <h5>1week 식단 입문 플랜</h5>
                    <p>입문자를 위한 1주일 완벽 식단!</p>
                </div>

                <div class="dite">
                    <div class="dbox">
                        <a href="#"><img src="img/1week.jpg" alt="plan2"></a>
                    </div>
                    <h5>1week 삼시세끼 완성</h5>
                    <p>1일 3식 식단 건강하게 해결</p>
                </div>

                <div class="dite">
                    <div class="dbox">
                        <a href="#"><img src="img/25menu.jpg" alt="plan3"></a>
                    </div>
                    <h5>신나는 박스 25종</h5>
                    <p>입터짐 방지, 단백질 보충을 한번에!</p>
                </div>

                <div class="dite">
                    <div class="dbox">
                        <a href="#"><img src="img/shake.jpg" alt="plan4"></a>
                    </div>
                    <h5>3DAY 클렌즈</h5>
                    <p>어려움 없이 3일간 딱~ 이대로만</p>
                </div>

                <div class="dite">
                    <div class="dbox">
                        <a href="#"><img src="img/reset.jpg" alt="plan5"></a>
                    </div>
                    <h5>3DAY 절식 플랜</h5>
                    <p>과식 후 살찌기 전 특급처방!</p>
                </div>
            </div>
        </div>
        
        <div id="review">
            <h1>Customer <span>Review</span></h1>
            <p>고객 만족 후기</p>
            <div id="rewrap">
                <div class="re_box">
                    <a href="#"><img src="img/review1.jpg" alt="review1"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">곤약이 면을 종류별로 한가지씩 사서 5가지를 구매했는데 칼로리도 낮고 맛이 좋아요ㅎㅎ맛있어서 다음에도 구매할까 생각중입니다…</td>
                        </tr>
                        <tr>
                            <td><a href="#">칼로리 DOWN! 곤약이 면</a></td>
                        </tr>
                        <tr>
                            <td >안*원&ensp;<span style="font-size:8pt;">★ ★ ★ ★ ☆</span></td>
                        </tr>
                    </table>
                </div>
                
                <div class="re_box">
                    <a href="#"><img src="img/review2.jpg" alt="review2"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">여러분 진짜 진짜 맛있어요! 간편하게 전자레인지에 돌리기만 하면됩니다 ㅜㅠ 진짜 레알로 맛있어용</td>
                        </tr>
                        <tr>
                            <td><a href="#">든든한 한끼! 오늘은 현미밥</a></td>
                        </tr>
                        <tr>
                            <td >손*영&ensp;<span style="font-size:8pt;">★ ★ ★ ★ ★</span></td>
                        </tr>
                    </table>
                </div>
                                
                <div class="re_box">
                    <a href="#"><img src="img/review3.jpg" alt="review3"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">와 이거 최고에요 진짜! 떡볶이 없으면 못 사는 사람한테 최고네요! 맛도 맛있어요! 포만감도 최고입니당! 계란 넣어먹으면 진짜 더 최고~!!</td>
                        </tr>
                        <tr>
                            <td><a href="#">곤약 현미 떡볶이</a></td>
                        </tr>
                        <tr>
                            <td >김*우&ensp;<span style="font-size:8pt;">★ ★ ★ ★ ★</span></td>
                        </tr>
                    </table>
                </div>
                                
                <div class="re_box">
                    <a href="#"><img src="img/review4.jpg" alt="review4"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">배송이 생각보단 늦어서 아쉬웠지만
샐러드들이 맛있고 나름 포만감도 있고 잘먹고있습니다~~다음에 또 시킬것같내요</td>
                        </tr>
                        <tr>
                            <td><a href="#">한 스푼 샐러드</a></td>
                        </tr>
                        <tr>
                            <td >박*형&ensp;<span style="font-size:8pt;">★ ★ ★ ★ ☆</span></td>
                        </tr>
                    </table>
                </div>
                                
                <div class="re_box">
                    <a href="#"><img src="img/review5.jpg" alt="review5"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">포장 깔끔하게 잘왔네요<br>
야채도 신선하고 소스도 맛있어요</td>
                        </tr>
                        <tr>
                            <td><a href="#">한 스푼 샐러드</a></td>
                        </tr>
                        <tr>
                            <td >윤*상&ensp;<span style="font-size:8pt;">★ ★ ★ ★ ★</span></td>
                        </tr>
                    </table>
                </div>                
                <div class="re_box">
                    <a href="#"><img src="img/review6.jpg" alt="review6"></a>
                    <table>
                        <tr>
                            <td style="font-size:10pt; color:#666;">보리 우동도 맛이 좋지만<br>
                            저는 귀리짜장이 더 맛이 좋은 것 같아요~ </td>
                        </tr>
                        <tr>
                            <td><a href="#">칼로리 DOWN! 곤약이 면</a></td>
                        </tr>
                        <tr>
                            <td >박*영&ensp;<span style="font-size:8pt;">★ ★ ★ ☆ ☆</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div id="store">
            <h1>Offline <span>Store</span></h1>
            <p>오프라인에서도 만나보실 수 있어요</p>

            <div class="sbox">
                <a href="http://www.pandoradrug.com" target="_blank"><img src="img/pandora.jpg" alt="판도라"></a>
            </div>

            <div class="sbox">
                <a href="https://www.oliveyoung.co.kr" target="_blank"><img src="img/olive.jpg" alt="올리브영"></a>
            </div>

            <div class="sbox">
                <a href="https://www.lotteon.com/" target="_blank"><img src="img/lohb.jpg" alt="롭스"></a>
            </div>

            <div class="sbox">
                <a href="http://spcsamlip.co.kr/brand/city-deli/" target="_blank"><img src="img/spc.jpg" alt="시티델리"></a>
            </div>
        </div>     
    </section>    
     
    <footer>
        <div id="footer_nav">
            <div id="footer_navbox">
                <ul>
                    <li><a href="#">처음으로</a></li>
                    <li>|</li>
                    <li><a href="#">쇼핑몰 이용안내</a></li>
                    <li>|</li>
                    <li><a href="#">쇼핑몰 이용약관</a></li>
                    <li>|</li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>

        <div id="bottom">
            <div id="cutomer">
                <h3>CUSTOMER CENTER</h3>
                <h5>070-7777-7777</h5>
                <div id="cutomer_text">
                    <span>업무시간 : 10:00 ~ 18:00 (점심시간 12:00 ~ 14:00)<br>
                    -택배마감시간 : 15시(입금완료기준)<br></span>
                    <span>※ 배송준비중으로 변경 시, 냉동식품은 취소/환불/교환 불가<br></span>
                    <span>- 토요일, 일요일, 공휴일 휴무<br>
                    ※ 통화량이 많을때는 Q＆A 또는 카카오톡으로 문의주세요.<br>(하단 버튼 클릭)<br><br></span>
                    <button>게시판 문의</button>
                    <button>카카오톡 문의</button>
                </div>
            </div>

            <div id="bank">
                <h3>BANK INFO</h3>
                <h5>1004-509-123456</h5>
                <span>XX은행 - 예금주 : 푸드스토어<br>
                    <select name="bank_info" class="bank_info">
                        <option>인터넷 뱅킹 바로가기</option>
                        <option>국민은행</option>
                        <option>농협</option>
                        <option>신한은행</option>
                        <option>카카오은행</option>
                        <option>우리은행</option>
                        <option>기업은행</option>
                    </select><br><br>
                    <i class="fas fa-undo-alt"> 반품 주소지</i><br>
                    * 상온제품 : 경기도 수원시 권선구<br>
                    * 냉동제품 : 경기도 수원시 권선구<br><br></span>
                <button>배송조회하기</button>
                <button>교환·반품 신청</button>
            </div>

            <div id="quick">
                <h3>QUICK MENU</h3>
                <p>하단 퀵메뉴 아이콘을 클릭하면 필요한 페이지로 바로 이동 가능합니다.</p>
                <a href>
                    <ul>
                        <li><i class="fas fa-microphone"></i><br>공지사항</li>
                        <li><i class="fas fa-comment-dots"></i><br>F＆Q</li>
                        <li><i class="fas fa-camera"></i><br>구매후기</li>
                        <li><i class="fas fa-grin-stars"></i><br>회원혜택</li>
                        <li><i class="fas fa-shopping-cart"></i><br>장바구니</li>
                        <li><i class="fas fa-eye"></i><br>관심상품</li>
                        <li><i class="fas fa-truck"></i><br>배송조회</li>
                        <li><i class="fas fa-heart"></i><br>즐겨찾기</li>
                    </ul>
                </a>
            </div>
        </div>
        
        <div id="footer_end">
            <div class="footer_iconbox">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fas fa-envelope-square"></i></a>
                <span>design by. Han A Reum 1988_reddoll88@naver.com</span>
            </div>
        </div>
    </footer>
    </body>

</html>