<footer>
    <div id="footer_nav">
        <div id="footer_navbox">
            <ul>
                <li><a href="#">처음으로</a></li>
                <li>|</li>
                <li><a href="#">쇼핑몰 이용안내</a></li>
                <li>|</li>
                <li><a href="#">쇼핑몰 이용약관</a></li>
                <li>|</li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
        </div>
    </div>

    <div id="bottom">
        <div id="cutomer">
            <h3>CUSTOMER CENTER</h3>
            <h5>070-7777-7777</h5>
            <div id="cutomer_text">
                <span>업무시간 : 10:00 ~ 18:00 (점심시간 12:00 ~ 14:00)<br>
                    -택배마감시간 : 15시(입금완료기준)<br>
                    ※ 배송준비중으로 변경 시, 냉동식품은 취소/환불/교환 불가<br>
                    - 토요일, 일요일, 공휴일 휴무<br>
                    ※ 통화량이 많을때는 Q＆A 또는 카카오톡으로 문의주세요.<br>(하단 버튼 클릭)<br><br></span>
                <button>게시판 문의</button>
                <button>카카오톡 문의</button>
            </div>
        </div>

        <div id="bank">
            <h3>BANK INFO</h3>
            <h5>1004-509-123456</h5>
            <span>XX은행 - 예금주 : 푸드스토어<br>
                <select name="bank_info" class="bank_info">
                    <option>인터넷 뱅킹 바로가기</option>
                    <option>국민은행</option>
                    <option>농협</option>
                    <option>신한은행</option>
                    <option>카카오은행</option>
                    <option>우리은행</option>
                    <option>기업은행</option>
                </select><br><br>
                <i class="fas fa-undo-alt"> 반품 주소지</i><br>
                * 상온제품 : 경기도 수원시 권선구<br>
                * 냉동제품 : 경기도 수원시 권선구<br><br></span>
            <button>배송조회하기</button>
            <button>교환·반품 신청</button>
        </div>

        <div id="quick">
            <h3>QUICK MENU</h3>
            <p>하단 퀵메뉴 아이콘을 클릭하면 필요한 페이지로 바로 이동 가능합니다.</p>
            <a href>
                <ul>
                    <li><i class="fas fa-microphone"></i><br>공지사항</li>
                    <li><i class="fas fa-comment-dots"></i><br>F＆Q</li>
                    <li><i class="fas fa-camera"></i><br>구매후기</li>
                    <li><i class="fas fa-grin-stars"></i><br>회원혜택</li>
                    <li><i class="fas fa-shopping-cart"></i><br>장바구니</li>
                    <li><i class="fas fa-eye"></i><br>관심상품</li>
                    <li><i class="fas fa-truck"></i><br>배송조회</li>
                    <li><i class="fas fa-heart"></i><br>즐겨찾기</li>
                </ul>
            </a>
        </div>
    </div>

    <div id="footer_end">
        <div class="footer_iconbox">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fas fa-envelope-square"></i></a>
            <span>design by. Han A Reum 1988_reddoll88@naver.com</span>
        </div>
    </div>
</footer>