<header>
    <a href="#">
        <h5>지금 가입하고 인기상품 <span>1000point</span> 받아가세요!</h5>
    </a>
    <div id="login">
        <ul>
            <li><a href="#">회원가입</a></li>
            <li>|</li>
            <li><a href="#">로그인</a></li>
            <li>|</li>
            <li><a href="#">고객센터</a></li>
            <li>|</li>
            <li><a href="#">배송지역 검색</a></li>
        </ul>
    </div>

    <div id="top">
        <a href="main.html" target="_self"><img src="img/logo.jpg" alt="logo"></a>

        <div class="search">
            <input name="search" placeholder="한 스푼 샐러드">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <nav>
            <ul>
                <li><a href="main.html" target="_self">전체 카테고리</a></li>
                <li><a href="main.html" target="_self">BEST</a></li>
                <li><a href="main.html" target="_self">HOT DEAL</a></li>
                <li><a href="main.html" target="_self">신상품</a></li>
                <li><a href="main.html" target="_self">간편식</a></li>
                <li><a href="main.html" target="_self">식단플랜</a></li>
                <li><a href="main.html" target="_self">EVENT</a></li>
            </ul>
        </nav>
    </div>
</header>